<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="https://www.creative-tim.com">{{title}}</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Me mande um e-mail" data-placement="bottom" href="mailto:wd3drender@gmail.com" target="_blank">
                        <i class="fa fa-envelope"></i>
                        <p class="d-lg-none">Email: </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href=”″></a>
                    <a class="nav-link" rel="tooltip" title="Atendemos no WhatsApp" data-placement="bottom" href="https://wa.me/5519993532247" target="_blank">
                        <div class="whats-app"></div>
                        <p class="d-lg-none">WhatsApp</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Atendemos no Facebook" data-placement="bottom" href="https://www.facebook.com/wd3drender" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Nos siga on Instagram" data-placement="bottom" href="https://www.instagram.com/wd3drender/" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>