<div class="wrapper">
  <div class="page-header section-dark wd3d-render-img" id="particles">
      <div class="filter"></div>
      <div class="content-center">
          <div class="container">
              <div class="title-brand">
                  <div class="wd3drender-logo">
                      <img src="assets/img/wd3drender.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="main">
    <app-navigation></app-navigation>
  </div>
</div>
